@page "/"

<PageTitle>Index</PageTitle>

<HeadContent>
    <meta name="description" content="This is a home page" />
</HeadContent>
<h1>Hello, !</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you? Not so god!" />


<ErrorBoundary>
    <ChildContent>
        <Counter />
    </ChildContent>
    <ErrorContent>
        <div class"text.danger">There was an error loading the counter.</div>
    </ErrorContent>
</ErrorBoundary>